<div id="container-checkinbox">
    <div class="checkin-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    <div class="row checkin-row">
                        <div class="col-lg-3 col-md-3">
                            <label>Check-in</label>
                            <input type="text" id="checkin-date" />
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <label>Check-out</label>
                            <input type="text" id="checkout-date" />
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <label>Room</label>
                            <input type="text" id="roomselect" />
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <label>Guest</label>
                            <input type="text" id="guestselect" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <input type="submit" value="Book now" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container-hotel">
    <div class="container">
        <div class="hotels-sec">
            <div class="text-right sorting-box">
                <a href="javascript:void(0)">Budget</a>
                <a href="javascript:void(0)">Premises</a>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
                <div class="col-lg-4 col-md-4 list">
                    <a href="javascript:void(0)">
                        <img src="images/image1.jpg"/>
                    </a>
                    <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                    <div class="price-box">&#8377; 999</div>
                </div>
            </div>
        </div>
    </div>
</div>