<div class="container">
    <div id="cities-container" class="sections details-box">
        <h2 class="content-title" data-dojo-attach-point="_cityTitle"></h2>
        <div class="row city-info">
            <div class="col-lg-8 col-md-8">
                <img src="images/hotel1.jpg"/>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3 class="title-small">Why visit?</h3>
                <p data-dojo-attach-point="_description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class="sorting-box">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3 class="title-small">Available hotels</h3>
                </div>
                <div class="col-lg-4 col-md-4">
                    &nbsp;
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3 class="title-small">Available hotels</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 list pos-rel">
                <a href="javascript:void(0)">
                    <img src="images/image1.jpg"/>
                </a>
                <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                <div class="price-box">&#8377; 999</div>
            </div>
            <div class="col-lg-3 col-md-3 list">
                <a href="javascript:void(0)">
                    <img src="images/image1.jpg"/>
                </a>
                <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                <div class="price-box">&#8377; 999</div>
            </div>
            <div class="col-lg-3 col-md-3 list">
                <a href="javascript:void(0)">
                    <img src="images/image1.jpg"/>
                </a>
                <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                <div class="price-box">&#8377; 999</div>
            </div>
            <div class="col-lg-3 col-md-3 list">
                <a href="javascript:void(0)">
                    <img src="images/image1.jpg"/>
                </a>
                <p class="list-title strong"><a href="javascript:void(0)">Lorem Ipsum is simply dummy text of the printing and typesetting industry</a></p>
                <div class="price-box">&#8377; 999</div>
            </div>
        </div>
        <div class="text-center">
            <a href="javascript:void(0)" class="btn button">Browse All</a>
        </div>
    </div>
</div>
