<div class="container">
    <h1 class="text-center welcome-title">Welcome text comes here</h1>
    <p class="text-center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
    <div class="sections">
        <h2 class="text-center content-title">Best Deals &amp; Offers</h2>
        <div class="offer-banner">
            <a href="javascript: void(0)">
                <img src="images/hotel1.jpg"/>
                <h2 class="deals-text">Click here for find best deals!</h2>
            </a>
        </div>
    </div>
</div>