<div class="container">
    <div class="sections explore-sec">
        <div class="row">
            <h2 class="text-center content-title">Explore Odisha</h2>
            <div class="col-lg-3 col-md-3 pos-rel offer-col">
                <a href="javascript:void(0)"></a>
                <img src="images/image1.jpg"/>
                <div class="box-caption text-center">
                    <h2>Bhubaneswar</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 pos-rel offer-col">
                <a href="javascript:void(0)"></a>
                <img src="images/image2.jpg"/>
                <div class="box-caption text-center">
                    <h2>Puri</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 pos-rel offer-col">
                <a href="javascript:void(0)"></a>
                <img src="images/image2.jpg"/>
                <div class="box-caption text-center">
                    <h2>Chilika</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 pos-rel offer-col">
                <a href="javascript:void(0)"></a>
                <img src="images/image1.jpg"/>
                <div class="box-caption text-center">
                    <h2>Gopalpur</h2>
                </div>
            </div>
        </div>
    </div>
</div>