<div>
    <div id="container-contactus">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form>
                        <ul class="contact-form">
                            <li class="ast">
                                <label for="name">Name:</label>
                                <input type="text" data-dojo-type="dijit/form/ValidationTextBox" name="name" id="name" required />
                            </li>
                            <li class="ast">
                                <label for="email">Email:</label>
                                <input type="text" data-dojo-type="dijit/form/ValidationTextBox" name="email" id="email" required />
                            </li>
                            <li class="ast">
                                <label for="phone">Phone Number:</label>
                                <input type="text" data-dojo-type="dijit/form/ValidationTextBox" name="phone" id="phone" required />
                            </li>
                            <li>
                                <label for="message">Message:</label>
                                <textarea id="message" data-dojo-type="dijit/form/Textarea"></textarea>
                            </li>
                            <li>
                                <input data-dojo-type="dijit/form/Button" class="btn button" />
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>