<div>
<footer id="footer">
    <section class="container-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="footer-menu">
                <a href="#home" data-dojo-attach-point="_footerHome">Home</a>
                <a href="#aboutUs" data-dojo-attach-point="_footerAboutUs">About Us</a>
                <a href="#hotels" data-dojo-attach-point="_footerHotels">Hotels</a>
                <a href="#contactUs" data-dojo-attach-point="_footerContactUs">Contact Us</a>
            </div>
            <p class="copy-text">&copy; All rights reserved.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="social-block pull-right">
                <p>Follow Us:</p>
                <div class="social-icon">
                    <a href="javascript:void(0)"><img src="images/facebook_social_media.svg" /></a>
                    <a href="javascript:void(0)"><img src="images/google_plus_social_media.svg" /></a>
                    <a href="javascript:void(0)"><img src="images/instagram_social_media.svg" /></a>
                    <a href="javascript:void(0)"><img src="images/linked_in_social_media.svg" /></a>
                    <a href="javascript:void(0)"><img src="images/tumblr_social_media.svg" /></a>
                </div>
            </div>
        </div>
    </section>
</footer>
</div>