<div class="container">
    <div class="sections explore-cities-box">
        <div class="row">
            <h2 class="text-center content-title">Find best hotel's in best cities</h2>
            <div class="col-lg-6 col-md-6 pos-rel offer-col">
                <div data-dojo-attach-point="bhubaneswar">
                    <a class="offer-link" href="javascript:void(0)" data-dojo-attach-event="onclick:_clickHandler">
                        <img src="images/hotel1.jpg"/>
                        <div class="box-caption">
                            <h2>Hotel's in Bhubaneswar</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 pos-rel offer-col" >
                <div data-dojo-attach-point="puri" data-dojo-attach-event="onclick:_clickHandler">
                <a class="offer-link" href="javascript:void(0)">
                    <img src="images/hotel1.jpg"/>
                    <div class="box-caption">
                        <h2>Hotel's in Puri</h2>
                    </div>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>