<div class="container">
    <div class="sections">
        <div class="row">
            <h2 class="text-center content-title">Find best hotel's in best cities</h2>
            <div class="col-lg-6 col-md-6 pos-rel offer-col">
                <a href="javascript:void(0)"></a>
                <img src="images/image1.jpg"/>
                <div class="box-caption text-center">
                    <h2>Hotel's in Bhubaneswar</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 pos-rel offer-col">
                <a href="javascript:void(0)"></a>
                <img src="images/image2.jpg"/>
                <div class="box-caption text-center">
                    <h2>Hotel's in Puri</h2>
                </div>
            </div>
        </div>
    </div>
</div>